# Unity3D .gitignore file.
#	 Store this file at the root of your local repository.
.DS_Store
2DPlattformer/Builds/*
2DPlattformer/Library/*
Temp
*.pidb
build
2DPlattformer/Test/Test.txt.txt
sysinfo.txt
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.booproj
*.pidb.meta
2DPlattformer/2DPlattformer-csharp.sln
2DPlattformer/2DPlattformer.sln
2DPlattformer/Library/assetDatabase3
2DPlattformer/2DPlattformer.userprefs
2DPlattformer/Library/assetDatabase3
2DPlattformer/Library/ScriptAssemblies/Assembly-CSharp.dll
2DPlattformer/Library/ScriptAssemblies/Assembly-CSharp.dll
